<template>
    <transition name="fade" appear>
        <BlogLayout>
            <template slot="left-menu">
                <g-link class="back-menu" to="/">
                    <ChevronLeft width="10px" /> Retour à l'accueil
                </g-link>
            </template>
            <template slot="middle-menu">
                <HeaderArticle :article="article" />
            </template>
            <div class="article">
                <BodyArticle :article="article" />
            </div>
        </BlogLayout>
    </transition>
</template>

<page-query>
query Article ($path: String!) {
  article: article (path: $path) {
    title
    path
    date (format: "DD/MM/YYYY")
    timeToRead
    tags {
      id
      title
      path
    }
    description
    content
  }
}
</page-query>

<script>
import BlogLayout from "@/layouts/BlogLayout.vue";
import HeaderArticle from "@/components/blog/HeaderArticle.vue";
import BodyArticle from "@/components/blog/BodyArticle.vue";
import ChevronLeft from "~/assets/icons/chevron-left.svg";

export default {
    computed: {
        article() {
            return this.$page.article;
        }
    },
    components: {
        BlogLayout,
        HeaderArticle,
        BodyArticle,
        ChevronLeft
    }
};
</script>

<style>
.back-menu {
    position: fixed;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 3px 6px -5px #000000;
    padding: 10px;
}

.tags {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-left: 3%;
}

.tag-item {
    text-align: center;
    background-color: #f3f7f9;
    min-width: 100px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    color: #575757;
    padding-top: 5px;
    padding-bottom: 5px;
}

.fade-enter-active {
    transition: opacity 0.5s;
}

.fade-enter {
    opacity: 0;
}
</style>
