<template>
    <BlogLayout>
        <template slot="left-menu">
            <h2 style="margin: 0px;">Charles Poullain</h2>
            <h3 style="font-weight: 200; margin: 0px;">
                Développeur Fullstack Web, Mobile
            </h3>
        </template>
        <div class="articles">
            <ArticleItem
                v-for="edge in $page.articles.edges"
                :key="edge.node.id"
                :article="edge.node"
            />
        </div>
    </BlogLayout>
</template>

<page-query>
{
  articles: allArticle {
    edges {
      node {
        id
        title
        path
        tags {
          id
          title
          path
        }
        date (format: "DD/MM/YYYY")
        timeToRead
        description
        ...on Article {
            id
            title
            path
        }
      }
    }
  }
}
</page-query>

<script>
import ArticleItem from "@/components/blog/ArticleItem.vue";
import BlogLayout from "@/layouts/BlogLayout.vue";

export default {
    metaInfo: {
        title: "Hello, world!"
    },
    components: {
        ArticleItem,
        BlogLayout
    }
};
</script>

<style>
.articles {
    margin-top: 5%;
}

.tags {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 20px;
    padding-left: 3%;
}

.tag-item {
    text-align: center;
    background-color: #f3f7f9;
    min-width: 100px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
    color: #575757;
    padding-top: 5px;
    padding-bottom: 5px;
}
</style>
