<template>
    <div class="btn-theme">
        <div>
            <g-image
                v-if="!themeLight"
                style="cursor: pointer;"
                src="~/assets/icons/Dark-theme.svg"
                width="50"
                @click="switchTheme()"
            />
            <g-image
                v-else
                src="~/assets/icons/Light-theme.svg"
                width="50"
                @click="switchTheme()"
            />
        </div>
        <div style="padding-top: 5px;">
            <g-image
                v-if="!languageEn"
                style="cursor: pointer;"
                src="~/assets/icons/Fr-btn.svg"
                width="50"
                @click="switchLanguage()"
            />
            <g-image
                v-else
                style="cursor: pointer;"
                src="~/assets/icons/En-btn.svg"
                width="50"
                @click="switchLanguage()"
            />
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            themeLight: true,
            languageEn: false
        };
    },
    methods: {
        switchTheme() {
            this.themeLight = !this.themeLight;
        },
        switchLanguage() {
            this.languageEn = !this.languageEn;
        }
    }
};
</script>

<style>
.btn-theme {
    position: fixed;
    display: flex;
    margin-top: 20px;
    right: 40px;
}
</style>
