<template>
    <g-link :to="article.path" class="article-link">
        <transition name="fade" appear>
            <div class="article-item">
                <div class="header-article">
                    <h3 style="margin: 0;">{{ article.title }}</h3>
                    <span class="time-read">{{ article.timeToRead }} min</span>
                </div>
                <p class="description">{{ article.description }}</p>
                <p class="date-article">Le {{ article.date }}</p>
                <div class="tags">
                    <div
                        v-for="tag in article.tags"
                        :key="tag.id"
                        class="tag-item"
                    >
                        #{{ tag.title }}
                    </div>
                </div>
            </div>
        </transition>
    </g-link>
</template>

<script>
export default {
    props: ["article"]
};
</script>

<style scoped>
.header-article {
    display: flex;
    padding-left: 3%;
    padding-top: 20px;
    justify-content: space-between;
}

.article-item {
    background-color: white;
    border-radius: 20px;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 3px 6px -5px #000000;
}
.article-item:hover {
    transform: scale(1.02);
}

.time-read {
    margin-right: 5%;
    color: #575757;
}

.description {
    padding-left: 3%;
    padding-right: 3%;
    font-weight: 300;
}

.date-article {
    padding-left: 3%;
    font-style: italic;
    font-weight: 200;
    font-size: 12px;
}
.article-link {
    text-decoration: none;
    color: black;
}

.fade-enter-active {
    transition: opacity 0.5s;
}

.fade-enter {
    opacity: 0;
}
</style>
