<template>
    <div class="article-card">
        <div class="tags">
            <div v-for="tag in article.tags" :key="tag.id" class="tag-item">
                #{{ tag.title }}
            </div>
        </div>
        <span v-html="article.content" />
    </div>
</template>

<script>
export default {
    props: ["article"]
};
</script>

<style>
.article-card {
    background-color: white;
    border-radius: 20px;
    width: 60%;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 3px 6px -5px #000000;
    padding: 5%;
}
</style>
