<template>
    <div class="header-article">
        <h1 class="title">{{ article.title }}</h1>
        <p class="date">En ligne le {{ article.date }}</p>
        <p class="time-read">Durée de lecture : {{ article.timeToRead }} min</p>
    </div>
</template>

<script>
export default {
    props: ["article"]
};
</script>

<style scoped>
.header-article {
    margin-top: 20px;
}

.title {
    text-align: center;
    font-weight: 300;
    margin: 0;
}

.date {
    font-size: 10px;
    font-style: italic;
    font-weight: 200;
    text-align: center;
}

.time-read {
    text-align: center;
    font-weight: 300;
}
</style>
