<template>
    <div class="blog-layout">
        <div class="top-menu">
            <div class="left-menu">
                <slot name="left-menu" />
            </div>
            <div>
                <slot name="middle-menu" />
            </div>
            <div class="right-menu">
                <MenuTheme />
            </div>
        </div>
        <slot />
    </div>
</template>

<static-query>
query {
  metaData {
    siteName
  }
}
</static-query>
<script>
import MenuTheme from "@/components/MenuTheme.vue";
export default {
    components: {
        MenuTheme
    }
};
</script>
<style>
.blog-layout {
    background-color: #f4f4f4;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    min-height: 100vh;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-flow: row wrap;
}

.left-menu {
    padding-left: 20px;
    padding-top: 20px;
}

.right-menu {
}
</style>
